In [26]:
import overpy
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np

def geocode_address(address):
    geolocator = Nominatim(user_agent="your_app_name")
    location = geolocator.geocode(address)
    return (location.latitude, location.longitude)


def get_nearby_amenities(address):
    try:
        coordinates = geocode_address(address)

        overpass_query = f"""
            node(around:500, {coordinates[0]}, {coordinates[1]})
            ["amenity"];
            out;
        """

        api = overpy.Overpass()
        result = api.query(overpass_query)

        amenities = [node.tags.get('amenity', 'N/A') for node in result.nodes]
        return ", ".join(amenities)
    
    except Exception as e:
        return str(e)

def process_excel(input_file, output_file):
    df = pd.read_excel(input_file)

    df['Amenities'] = df['Address'].apply(get_nearby_amenities)

    df.to_csv(output_file, index=False)

# Example usage
input_excel_file = "input_file.xlsx"
output_csv_file = "output_amenities.csv"
process_excel(input_excel_file, output_csv_file)

In [27]:
# Create data frame
csv = pd.read_csv("output_amenities.csv", encoding='utf-8')
amt = pd.DataFrame(csv)

# Extracting all categories from amenities 
amenities_mentioned = amt["Amenities"].str.split().explode().unique().tolist()

# Print list of unique amenities
print(amenities_mentioned)

['post_box,', 'recycling,', 'fast_food,', 'restaurant,', 'police,', 'bar,', 'cafe,', 'fire_station,', 'clinic,', 'bank,', 'bicycle_parking,', 'parking,', 'toilets,', 'lockers,', 'bench,', 'drinking_water,', 'bicycle_rental,', 'parking_entrance,', 'vending_machine,', 'piano,', 'charging_station,', 'doctors,', 'clock,', 'waste_basket,', 'boat_rental,', 'public_bookcase,', 'vending_machine', 'fuel,', 'motorcycle_parking,', 'bench', 'pharmacy,', 'pub,', 'waste_disposal,', 'ice_cream,', 'studio,', 'place_of_worship,', 'bbq,', 'taxi,', 'fountain,', 'dentist,', 'shelter,', 'arts_centre,', 'theatre,', 'kindergarten,', 'school,', 'food_court,', 'atm,', 'parking_entrance', 'townhall,', 'healthcare,', 'social_centre,', 'community_centre,', 'dental_hygienist,', 'social_facility,', 'cinema,', 'fountain', 'bureau_de_change,', 'bus_station,', 'nightclub,', 'casino,', 'coworking_space,', 'accupuncture,', 'brothel,', 'bicycle_repair_station,', 'cannabis,', 'car_rental,', 'ferry_terminal,', 'bicycle_parking', 'conference_centre,', 'parking_space,', 'college,', 'cafe', 'archive,', "HTTPSConnectionPool(host='nominatim.openstreetmap.org',", 'port=443):', 'Max', 'retries', 'exceeded', 'with', 'url:', '/search?q=Tt.+Vasumweg+32%2C+1033+SC+Amsterdam&format=json&limit=1', '(Caused', 'by', 'ReadTimeoutError("HTTPSConnectionPool(host=\'nominatim.openstreetmap.org\',', 'Read', 'timed', 'out.', '(read', 'timeout=1)"))', 'university,', 'courthouse,', 'childcare,', 'music_school,', 'recycling', 'post_office,', 'marketplace,', 'restaurant', 'stripclub,', 'car_sharing,', 'library,', 'veterinary,', 'station,', 'training,', 'car_wash,', 'music_studio,', 'karaoke_box,', 'loading_dock,', 'warehouse,', 'health_centre,', 'locker,', 'luggage_locker,', 'chiropractic,', 'mailboxes,', 'office_units,', 'meeting_centre,', 'cooking_school,', 'K+R,', 'freezone,', 'drinking_water', 'parcel_locker,', 'parking', 'events_venue,', 'charging_station', 'ticket_validator,', 'photo_booth,', 'hospital,', 'fuel', 'playground,', 'balance_beam']

In [28]:
excel = "google_maps_reviews_english_googletrans.xlsx"

# Read Excel file into DataFrame
rating_amenities = pd.read_excel(excel)

# Drop specific columns from the original DataFrame
rating_amenities = rating_amenities.drop(["name", "review_text", "location_link", "reviews_total", "review_datetime_utc", "reviews_per_score_1", "reviews_per_score_2", "reviews_per_score_3", "reviews_per_score_4", "reviews_per_score_5", "review_text_english_googletrans"], axis=1)

# Display new DataFrame
print(rating_amenities)

                         place_id  rating  review_rating
0     ChIJCwHQg38JxkcRJeVtM9mPCnM     3.3              2
1     ChIJCwHQg38JxkcRJeVtM9mPCnM     3.3              5
2     ChIJCwHQg38JxkcRJeVtM9mPCnM     3.3              1
3     ChIJCwHQg38JxkcRJeVtM9mPCnM     3.3              1
4     ChIJCwHQg38JxkcRJeVtM9mPCnM     3.3              5
...                           ...     ...            ...
1210  ChIJ5_ZVzPwzxEcRnORjwSzG0fU     4.6              5
1211  ChIJ5_ZVzPwzxEcRnORjwSzG0fU     4.6              5
1212  ChIJ5_ZVzPwzxEcRnORjwSzG0fU     4.6              5
1213  ChIJ5_ZVzPwzxEcRnORjwSzG0fU     4.6              5
1214  ChIJ5_ZVzPwzxEcRnORjwSzG0fU     4.6              5

[1215 rows x 3 columns]

In [29]:
amenity_counts_dict = {amenity: [] for amenity in amenities_mentioned}

# Loop to count the amount of amenities per location
for amenities_str in amt["Amenities"]:
    for amenity in amenities_mentioned:
        count = amenities_str.count(amenity)
        
        amenity_counts_dict[amenity].append(count)

# Add the counts as new columns in amt
for amenity, counts in amenity_counts_dict.items():
    amt[f'{amenity}_counts'] = counts

amt["total_counts"] = amt[[f"{amenity}_counts" for amenity in amenities_mentioned]].sum(axis=1)

# Display
display(amt)

/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt[f'{amenity}_counts'] = counts
/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2187263265.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt["total_counts"] = amt[[f"{amenity}_counts" for amenity in amenities_mentioned]].sum(axis=1)

,Address,Amenities,"post_box,_counts","recycling,_counts","fast_food,_counts","restaurant,_counts","police,_counts","bar,_counts","cafe,_counts","fire_station,_counts",...,parking_counts,"events_venue,_counts",charging_station_counts,"ticket_validator,_counts","photo_booth,_counts","hospital,_counts",fuel_counts,"playground,_counts",balance_beam_counts,total_counts
0,"Julianaplein 1, Amsterdam","post_box, recycling, fast_food, restaurant, re...",4,14,3,8,1,1,3,1,...,11,0,1,0,0,0,0,0,0,198
1,"Joan Muyskenweg 22, 1096 CJ Amsterdam","parking, post_box, parking, fuel, charging_sta...",1,0,0,0,0,0,0,0,...,3,0,5,0,0,0,1,0,0,32
2,"Nieuwe Leeuwarderweg, 1021 BZ Amsterdam","fuel, post_box, fast_food, pharmacy, pub, pub,...",2,17,6,5,0,0,1,0,...,6,0,1,0,0,0,1,0,0,221
3,"Spoorslag 29, 1082 MM Amsterdam","cafe, parking, place_of_worship, restaurant, c...",1,1,5,15,0,2,16,0,...,16,0,1,0,0,0,0,0,0,249
4,"Julianaplein Oost, 1097 DN Amsterdam","post_box, recycling, fast_food, restaurant, re...",4,15,4,8,1,1,3,1,...,11,0,2,0,0,0,0,0,0,206
5,"Termini 23, Amsterdam","townhall, healthcare, social_centre, dentist, ...",1,33,5,5,0,0,2,0,...,7,0,3,0,0,0,0,0,0,239
6,"Stationsplein 39, 1012 AB Amsterdam","restaurant, pub, pub, pub, restaurant, bureau_...",1,6,59,117,0,24,31,0,...,23,0,0,0,0,0,0,0,0,691
7,"Cornelis Lelylaan 35, 1062 HD Amsterdam","recycling, recycling, recycling, post_box, res...",3,29,5,3,0,0,3,0,...,6,0,0,0,0,0,0,0,0,167
8,"Europaboulevard 4A, 1083 AD Amsterdam","theatre, conference_centre, parking, parking, ...",1,1,0,3,0,0,1,0,...,13,0,0,0,0,0,0,0,0,163
9,"Kattenburgerstraat 5, 1018 JA Amsterdam","pub, post_box, restaurant, restaurant, restaur...",3,5,2,17,0,0,5,1,...,23,0,5,0,0,0,0,0,0,263
10,"Papaverweg 37, 1032 KK Amsterdam","post_box, post_box, fast_food, post_box, recyc...",3,2,2,5,0,1,2,0,...,0,0,0,0,0,0,0,0,0,43
11,"Tt. Vasumweg 32, 1033 SC Amsterdam",HTTPSConnectionPool(host='nominatim.openstreet...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19
12,"Benjamin Brittenstraat 13, 1082 ML Amsterdam","cafe, parking, bank, bicycle_parking, bicycle_...",2,0,6,18,0,2,16,0,...,15,0,1,0,0,0,0,0,0,269
13,"Haringbuisdijk 643, 1086 VA Amsterdam","parking_entrance, recycling, recycling, fast_f...",0,18,1,0,0,0,0,0,...,2,0,4,0,0,0,0,0,0,99
14,"James Wattstraat 77-K, 1097 DL Amsterdam","fast_food, post_box, restaurant, fast_food, po...",3,5,5,4,1,1,2,1,...,7,0,1,0,0,0,1,0,0,129
15,"Pedro de Medinalaan 1, 1086 XK Amsterdam","parking_entrance, recycling, recycling, fast_f...",0,7,1,1,0,0,0,0,...,2,0,4,0,0,0,0,0,0,58
16,"Govert Flinckstraat 309 H, 1074 CA Amsterdam","post_box, recycling, pub, restaurant, atm, pub...",3,6,15,51,0,6,14,0,...,12,0,6,0,0,0,0,0,0,473
17,"Van Vollenhovenstraat 5g, 3016 BE Rotterdam","restaurant, parking_entrance, ferry_terminal, ...",4,7,2,31,0,2,5,0,...,8,0,16,0,0,0,0,0,0,475
18,"Kolk 172, 3011 MD Rotterdam","ice_cream, fast_food, cafe, cafe, restaurant, ...",7,6,25,93,0,16,28,0,...,25,0,12,0,0,0,0,0,0,624
19,"Stationsplein 298, 3013 AK Rotterdam","post_box, cinema, parking, fast_food, casino, ...",4,11,17,56,0,5,15,0,...,16,0,7,0,0,0,1,0,0,544
20,"Stationsplein 2, 2611 BV Delft","post_box, post_box, post_box, bench, bench, pu...",5,42,22,34,1,3,12,0,...,24,0,20,0,0,0,0,0,0,551
21,"Houttuinen, 2613 SL Delft","post_box, post_box, post_box, post_box, bench,...",6,43,29,42,0,3,17,0,...,23,0,19,0,0,0,0,0,0,599
22,"Kon. Julianaplein 10, 2595 AA Den Haag","post_box, fast_food, parking_entrance, bicycle...",5,3,20,52,0,2,14,0,...,20,0,5,0,0,0,0,0,0,493
23,"Van Embdenstraat 658, 2628 CN Delft","pub, restaurant, post_box, kindergarten, bench...",2,14,0,3,0,0,3,0,...,10,0,12,0,0,0,0,0,0,164
24,"Tandwielstraat, 3083 AV Rotterdam","cafe, parking, fast_food, parking, parking, at...",5,2,9,15,0,0,4,0,...,9,0,5,0,0,0,0,0,0,152
25,"Wilhelminakade 101, 3072 AP Rotterdam","courthouse, place_of_worship, pub, post_box, r...",4,24,2,14,0,1,2,0,...,75,1,14,0,0,0,0,0,0,658
26,"Busplein 16, 1315 KR Almere","parking, post_box, fast_food, fast_food, fast_...",1,0,20,15,0,3,5,0,...,6,0,0,0,0,0,0,0,0,145
27,"Stationsplein 131, 3511 ED Utrecht","parking, parking, parking, fast_food, fast_foo...",5,3,36,81,1,3,28,0,...,26,0,6,72,1,0,0,0,0,772
28,"Universiteitsweg, 3584 CT Utrecht","pub, bench, hospital, parking_entrance, bench,...",0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,16
29,"Griffioenlaan 1BIS, 3526 LA Utrecht","parking, post_box, parking_entrance, parking_e...",1,0,0,0,0,0,0,0,...,4,0,0,0,0,0,1,0,0,27
30,1506 CK Zaandam,"parking, fuel, bicycle_parking, parking, townh...",1,13,6,6,0,0,5,1,...,8,0,0,0,0,0,3,1,1,152

In [30]:
#add place ID
place_ID_df = pd.read_excel("input.xlsx")

# Merge DataFrames based on adress and safe place_id
merged_df = pd.merge(amt, place_ID_df, on = "Address", how = "left")

amt["place_id"] = place_ID_df.groupby("Address")["place_id"].transform("first")
display(amt)

/var/folders/95/3n7dglvx0g5g04d9d_rwdjq80000gn/T/ipykernel_6732/2470250250.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  amt["place_id"] = place_ID_df.groupby("Address")["place_id"].transform("first")

,Address,Amenities,"post_box,_counts","recycling,_counts","fast_food,_counts","restaurant,_counts","police,_counts","bar,_counts","cafe,_counts","fire_station,_counts",...,"events_venue,_counts",charging_station_counts,"ticket_validator,_counts","photo_booth,_counts","hospital,_counts",fuel_counts,"playground,_counts",balance_beam_counts,total_counts,place_id
0,"Julianaplein 1, Amsterdam","post_box, recycling, fast_food, restaurant, re...",4,14,3,8,1,1,3,1,...,0,1,0,0,0,0,0,0,198,ChIJCwHQg38JxkcRJeVtM9mPCnM
1,"Joan Muyskenweg 22, 1096 CJ Amsterdam","parking, post_box, parking, fuel, charging_sta...",1,0,0,0,0,0,0,0,...,0,5,0,0,0,1,0,0,32,ChIJxZHiajgLxkcRlOo3zmIibOs
2,"Nieuwe Leeuwarderweg, 1021 BZ Amsterdam","fuel, post_box, fast_food, pharmacy, pub, pub,...",2,17,6,5,0,0,1,0,...,0,1,0,0,0,1,0,0,221,ChIJYyOpnFQIxkcRErWFhYVuAeQ
3,"Spoorslag 29, 1082 MM Amsterdam","cafe, parking, place_of_worship, restaurant, c...",1,1,5,15,0,2,16,0,...,0,1,0,0,0,0,0,0,249,EixTdGF0aW9uIFp1aWQsIDEwNzcgWFYgQW1zdGVyZGFtLC...
4,"Julianaplein Oost, 1097 DN Amsterdam","post_box, recycling, fast_food, restaurant, re...",4,15,4,8,1,1,3,1,...,0,2,0,0,0,0,0,0,206,ChIJPd2JhH8JxkcRQ8jSHUchci0
5,"Termini 23, Amsterdam","townhall, healthcare, social_centre, dentist, ...",1,33,5,5,0,0,2,0,...,0,3,0,0,0,0,0,0,239,ChIJn0fdmPwJxkcRYe7a-6JHfpI
6,"Stationsplein 39, 1012 AB Amsterdam","restaurant, pub, pub, pub, restaurant, bureau_...",1,6,59,117,0,24,31,0,...,0,0,0,0,0,0,0,0,691,ChIJf_z8xbcJxkcRCc-nQwIMAP8
7,"Cornelis Lelylaan 35, 1062 HD Amsterdam","recycling, recycling, recycling, post_box, res...",3,29,5,3,0,0,3,0,...,0,0,0,0,0,0,0,0,167,ChIJ71V5XiPixUcRSKlH5OYy-iE
8,"Europaboulevard 4A, 1083 AD Amsterdam","theatre, conference_centre, parking, parking, ...",1,1,0,3,0,0,1,0,...,0,0,0,0,0,0,0,0,163,ChIJLWMViCIKxkcRi1ThzDUCzCo
9,"Kattenburgerstraat 5, 1018 JA Amsterdam","pub, post_box, restaurant, restaurant, restaur...",3,5,2,17,0,0,5,1,...,0,5,0,0,0,0,0,0,263,Eh85V0c3K1g4LCBBbXN0ZXJkYW0sIE5ldGhlcmxhbmRzIi...
10,"Papaverweg 37, 1032 KK Amsterdam","post_box, post_box, fast_food, post_box, recyc...",3,2,2,5,0,1,2,0,...,0,0,0,0,0,0,0,0,43,ChIJ8exiz50JxkcRA0dHjOHV59g
11,"Tt. Vasumweg 32, 1033 SC Amsterdam",HTTPSConnectionPool(host='nominatim.openstreet...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,19,ChIJn8hFfqcJxkcR-3YplNNVbTQ
12,"Benjamin Brittenstraat 13, 1082 ML Amsterdam","cafe, parking, bank, bicycle_parking, bicycle_...",2,0,6,18,0,2,16,0,...,0,1,0,0,0,0,0,0,269,ChIJAbBoy20JxkcRYq_mBgst0sI
13,"Haringbuisdijk 643, 1086 VA Amsterdam","parking_entrance, recycling, recycling, fast_f...",0,18,1,0,0,0,0,0,...,0,4,0,0,0,0,0,0,99,ChIJXyha_toLxkcRLy1a5Nf1gnw
14,"James Wattstraat 77-K, 1097 DL Amsterdam","fast_food, post_box, restaurant, fast_food, po...",3,5,5,4,1,1,2,1,...,0,1,0,0,0,1,0,0,129,ChIJY2lvZ1APxkcRlPRWL3CNz2w
15,"Pedro de Medinalaan 1, 1086 XK Amsterdam","parking_entrance, recycling, recycling, fast_f...",0,7,1,1,0,0,0,0,...,0,4,0,0,0,0,0,0,58,ChIJ_UrCbsMJxkcRgerbh7cD-AY
16,"Govert Flinckstraat 309 H, 1074 CA Amsterdam","post_box, recycling, pub, restaurant, atm, pub...",3,6,15,51,0,6,14,0,...,0,6,0,0,0,0,0,0,473,ChIJCTLUdMoOxkcRld1kE-4cKsU
17,"Van Vollenhovenstraat 5g, 3016 BE Rotterdam","restaurant, parking_entrance, ferry_terminal, ...",4,7,2,31,0,2,5,0,...,0,16,0,0,0,0,0,0,475,ChIJX_a1lJEJxkcREs1M-NnIszA
18,"Kolk 172, 3011 MD Rotterdam","ice_cream, fast_food, cafe, cafe, restaurant, ...",7,6,25,93,0,16,28,0,...,0,12,0,0,0,0,0,0,624,ChIJ5_ZVzPwzxEcRnORjwSzG0fU
19,"Stationsplein 298, 3013 AK Rotterdam","post_box, cinema, parking, fast_food, casino, ...",4,11,17,56,0,5,15,0,...,0,7,0,0,0,1,0,0,544,Eh9XRjk0KzI5LCBSb3R0ZXJkYW0sIE5ldGhlcmxhbmRzIi...
20,"Stationsplein 2, 2611 BV Delft","post_box, post_box, post_box, bench, bench, pu...",5,42,22,34,1,3,12,0,...,0,20,0,0,0,0,0,0,551,NaN
21,"Houttuinen, 2613 SL Delft","post_box, post_box, post_box, post_box, bench,...",6,43,29,42,0,3,17,0,...,0,19,0,0,0,0,0,0,599,NaN
22,"Kon. Julianaplein 10, 2595 AA Den Haag","post_box, fast_food, parking_entrance, bicycle...",5,3,20,52,0,2,14,0,...,0,5,0,0,0,0,0,0,493,NaN
23,"Van Embdenstraat 658, 2628 CN Delft","pub, restaurant, post_box, kindergarten, bench...",2,14,0,3,0,0,3,0,...,0,12,0,0,0,0,0,0,164,NaN
24,"Tandwielstraat, 3083 AV Rotterdam","cafe, parking, fast_food, parking, parking, at...",5,2,9,15,0,0,4,0,...,0,5,0,0,0,0,0,0,152,NaN
25,"Wilhelminakade 101, 3072 AP Rotterdam","courthouse, place_of_worship, pub, post_box, r...",4,24,2,14,0,1,2,0,...,1,14,0,0,0,0,0,0,658,NaN
26,"Busplein 16, 1315 KR Almere","parking, post_box, fast_food, fast_food, fast_...",1,0,20,15,0,3,5,0,...,0,0,0,0,0,0,0,0,145,NaN
27,"Stationsplein 131, 3511 ED Utrecht","parking, parking, parking, fast_food, fast_foo...",5,3,36,81,1,3,28,0,...,0,6,72,1,0,0,0,0,772,NaN
28,"Universiteitsweg, 3584 CT Utrecht","pub, bench, hospital, parking_entrance, bench,...",0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,16,NaN
29,"Griffioenlaan 1BIS, 3526 LA Utrecht","parking, post_box, parking_entrance, parking_e...",1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,27,NaN
30,1506 CK Zaandam,"parking, fuel, bicycle_parking, parking, townh...",1,13,6,6,0,0,5,1,...,0,0,0,0,0,3,1,1,152,NaN

In [35]:
#merge the two to have ratings and amenities in one DataFrame
merged_df2 = pd.merge(amt, rating_amenities, on = "place_id", how = "left")

#Display merged DataFrame
display(merged_df2)

#Save to csv
merged_df2.to_csv("merged_df2.csv", index = False)

,Address,Amenities,"post_box,_counts","recycling,_counts","fast_food,_counts","restaurant,_counts","police,_counts","bar,_counts","cafe,_counts","fire_station,_counts",...,"ticket_validator,_counts","photo_booth,_counts","hospital,_counts",fuel_counts,"playground,_counts",balance_beam_counts,total_counts,place_id,rating,review_rating
0,"Julianaplein 1, Amsterdam","post_box, recycling, fast_food, restaurant, re...",4,14,3,8,1,1,3,1,...,0,0,0,0,0,0,198,ChIJCwHQg38JxkcRJeVtM9mPCnM,3.3,2.0
1,"Julianaplein 1, Amsterdam","post_box, recycling, fast_food, restaurant, re...",4,14,3,8,1,1,3,1,...,0,0,0,0,0,0,198,ChIJCwHQg38JxkcRJeVtM9mPCnM,3.3,5.0
2,"Julianaplein 1, Amsterdam","post_box, recycling, fast_food, restaurant, re...",4,14,3,8,1,1,3,1,...,0,0,0,0,0,0,198,ChIJCwHQg38JxkcRJeVtM9mPCnM,3.3,1.0
3,"Julianaplein 1, Amsterdam","post_box, recycling, fast_food, restaurant, re...",4,14,3,8,1,1,3,1,...,0,0,0,0,0,0,198,ChIJCwHQg38JxkcRJeVtM9mPCnM,3.3,1.0
4,"Julianaplein 1, Amsterdam","post_box, recycling, fast_food, restaurant, re...",4,14,3,8,1,1,3,1,...,0,0,0,0,0,0,198,ChIJCwHQg38JxkcRJeVtM9mPCnM,3.3,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,"Busplein 16, 1315 KR Almere","parking, post_box, fast_food, fast_food, fast_...",1,0,20,15,0,3,5,0,...,0,0,0,0,0,0,145,NaN,NaN,NaN
703,"Stationsplein 131, 3511 ED Utrecht","parking, parking, parking, fast_food, fast_foo...",5,3,36,81,1,3,28,0,...,72,1,0,0,0,0,772,NaN,NaN,NaN
704,"Universiteitsweg, 3584 CT Utrecht","pub, bench, hospital, parking_entrance, bench,...",0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,16,NaN,NaN,NaN
705,"Griffioenlaan 1BIS, 3526 LA Utrecht","parking, post_box, parking_entrance, parking_e...",1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,27,NaN,NaN,NaN
706,1506 CK Zaandam,"parking, fuel, bicycle_parking, parking, townh...",1,13,6,6,0,0,5,1,...,0,0,0,3,1,1,152,NaN,NaN,NaN